.image-wrap{
  
}

.image-wrap img{

}

.restaurant-details {

}

.restaurant-details h3{

}

.restaurant-reviews {
  color: yellow;
  display: flex;
  gap: 0.5rem;
}

.restaurant-reviews p{
  color: var(--black-color);
}

.restaurant-open {
  
}

.restaurant-open p{

}

.restaurant-address {
  
}

.restaurant-address p{

}

.isClosed {
  color: red;
}

.isOpen {
  color: green;
}

.price-rage {
  color: green;
}