.login-wrap {
  height: 80vh;
  width: 100%;
  display: grid;
  align-items: center;
}

.login {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  background: var(--lightblue-color);
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
}

.login-img{
  flex: 1;
  overflow: hidden;
  display: flex;
  aling-items: center;
  justify-content: center;
}

.login-img img{
  height: 100%;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.login-form label {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-color);
}

.login-form input {
  width: 15rem;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.login-form button{
  width: 10rem;
  height: 2.5rem;
  margin: 1rem auto;
  background: var(--blue-color);
  border: none;
  border-radius: 5px;
  color: var(--base-color);
  cursor: pointer;
}

.login-form button:hover{
  background: var(--black-color);
  transition: all 0.3s ease;
}